alabaster==0.7.10
appdirs==1.4.3
astroid==1.5.2
Babel==2.4.0
colorama==0.3.7
docutils==0.13.1
GDAL==2.1.0
generateDS==2.25a0
GeoAlchemy2==0.4.0
imagesize==0.7.1
isort==4.2.5
Jinja2==2.9.6
joblib==0.11
lazy-object-proxy==1.3.1
lxml==3.7.3
MarkupSafe==1.0
mccabe==0.6.1
numpy==1.12.1
packaging==16.8
psycopg2==2.7.1
Pygments==2.2.0
pylint==1.7.1
pyparsing==2.2.0
pytz==2017.2
requests==2.13.0
Shapely==1.5.17
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.5
sphinx-rtd-theme==0.2.4
SQLAlchemy==1.1.9
Werkzeug==0.12.2
wrapt==1.10.10
