aiohttp==2.2.3
alabaster==0.7.10
appdirs==1.4.3
astroid==1.5.2
async-timeout==1.2.1
Babel==2.4.0
cached-property==1.3.0
chardet==3.0.4
cheroot==5.5.0
civvy==0.0.9
colorama==0.3.7
defusedxml==0.5.0
docutils==0.13.1
eyeD3==0.8
gdal==2.1.3
generateDS==2.25a0
GeoAlchemy2==0.4.0
imagesize==0.7.1
injector==0.13.0
isodate==0.5.4
isort==4.2.5
Jinja2==2.9.6
joblib==0.11
lazy-object-proxy==1.3.1
lxml==3.7.3
MarkupSafe==1.0
mccabe==0.6.1
multidict==3.1.3
numpy==1.12.1
OSR==0.0.1
packaging==16.8
portend==1.8
psycopg2==2.7.1
pyglet==1.1.4
Pygments==2.2.0
pylint==1.7.1
pyparsing==2.2.0
pytz==2017.2
requests==2.13.0
requests-toolbelt==0.8.0
Shapely==1.5.17
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.5
sphinx-rtd-theme==0.2.4
SQLAlchemy==1.1.9
tempora==1.7
typing==3.6.1
Werkzeug==0.12.2
wrapt==1.10.10
yarl==0.12.0
zeep==2.2.0
